<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @assign.student.name%>
</p>

<p>
  <strong>Project:</strong>
  <%= @assign.project.name %>
</p>

<%= link_to 'Edit', edit_assign_path(@assign) %> |
<%= link_to 'Back', assigns_path %>
